.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}



.text-gray {
  color: #aaa
}

img {
  height: 170px;
  width: 140px
}
