.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}


.text-gray {
  color: #aaa
}

img.productImage {
  width: 140px;
  aspect-ratio: inherit; /* todo */
}


a {
  /*cursor: default;*/
  /*pointer-events: none;*/
  text-decoration: none;
  color: currentColor;
}

.isInStockCircle {
  height: 25px;
  width: 25px;
  background-color: #009900;
  border-radius: 50%;
  display: inline-block;
}

.isNotInStockCircle {
  height: 25px;
  width: 25px;
  background-color: #cc0000;
  border-radius: 50%;
  display: inline-block;
}
